.DS_Store
.svn
.*.swp
.eslintcache
gmon.out
v8.log
node_modules
tests/web-platform-tests/tuwpt-manifest.json
npm-debug.log*

.wireit
src/generated/
src/jsdom/living/css/CSSStyleProperties.webidl

# Prebuilt binaries copied in by scripts/release/platform-packages.js
npm/*/*.node
